@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px)
	.header-lang
		position: relative
		top: auto
		transform: none
		right: auto
		margin-left: 1.5rem
	.header-logo
		margin-right: auto
	.header-btn
		margin-left: 3rem
	.header .transform-to-mobile
		flex: none
@media only screen and (max-width : 1200px)
	.container
		width: 970px
	html
		font-size: 9px
	.header-lang .dropdown-data
		left: auto
		right: 0
		transform: none
		&:after
			margin-left: 4px
			transform: translateY(-50%) translateX(-50%) rotate(-45deg)
	.header-menu .menu>li
		margin-right: 3rem
	.header-btn
		margin-left: 3rem
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.container
		width: 100%
		padding: 0 20px
	.header
		height: 8.5rem
	.header-menu, .header-lang
		display: none
	.header .transform-to-mobile .hamburger
		display: block
		margin-left: 2.5rem
	.header-lang
		display: block
		position: fixed
		top: 0
		left: 0
		z-index: 999
		padding: 2.5rem 2rem
		display: none
		margin-left: 0
		.dropdown-data:after
			left: 0
			margin-left: 0
			transform: translateY(-50%) translateX(100%) rotate(-45deg)
	body.menu-mobile__opened .header-lang
		font-size: 2.2rem
	.header-menu .nav-menu>li
		margin-right: 0

	.nav-menu>li .dropdown-data
		position: relative
		height: 0
		padding: 0
		margin: 0 auto
		left: 0
		top: 0
		background-color: transparent
		transition: padding-top .5s ease, opacity .5s ease, transform .5s ease
		transform: translateY(30px)
		&:before, &:after
			display: none
		& > *
			height: 0
			+mt(.25s)
		li
			opacity: 0
			transition: opacity .5s ease
	.dropdown._opened
		.dropdown-link
			margin-right: 0
			font-weight: bold
		.dropdown-data
			width: 100%
			height: auto
			background-color: transparent
			padding-top: 0
			margin-top: 0
			transform: translateY(0)
			& > *
				height: auto
			li
				opacity: 1
				a
					color: #fff
	.header-menu
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: 100vh
		padding: 8.5rem 3.5rem 0
		background-color: #fff
		background-color: rgba(0,0,0,0.75)
		z-index: 999
		overflow: scroll
		.nav-menu
			li
				display: block
				width: 100%
				text-align: center
				font-size: 2.8rem
				line-height: 5rem
				a.active
					&:before
						right: -15px
						left: auto
						margin-bottom: -7px
						bottom: 50%
						+transY
	.transform-to-mobile.sub-opened .nav-menu
		& > li
			display: none
		& > li.dropdown._opened
			display: block
	.header-mobile
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		margin-left: 2.5rem
	.header .transform-to-mobile .hamburger
		z-index: 999
		position: relative
	
	body
		&.menu-mobile__opened
			position: relative
			.page__footer, .header-btn, .header-logo, .header:after
				filter: blur(2px)
			.header-menu
				display: block
			.header-lang
				position: absolute
				display: block



	// footer
	.footer
		.container
			width: 100%
			flex-direction: column
			align-items: center
		.footer__logo
			margin-right: 0
			margin-bottom: 3.5rem
		.content
			flex-wrap: wrap
		


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	// footer
	.footer
		.content
			justify-content: center
		.content__two
			margin-bottom: .5rem
			&:after
				display: none
		.content__three
			width: 100%
			display: flex
			justify-content: center
			align-items: center
		.ic-socials__title
			text-align: center
		.ic-unicash-wr
			justify-content: center
	.container
		width: 100%






@media only screen and (max-width : 639px)
	html
		font-size: 10px
	.header-btn
		display: none
	body.menu-mobile__opened .header-lang
		font-size: 2rem
	.header-logo
		position: absolute
		left: 50%
		transform: translateX(-50%)
		.logo
			height: 4rem
	.header .container
		justify-content: flex-end
	.header .hamburger
		margin-left: auto
		z-index: 1000
		position: relative
	.header
		height: 6rem
	.header .transform-to-mobile
		align-items: flex-start
		align-content: flex-start
	.transform-to-mobile.sub-opened .header-btn
		display: none
	.header .transform-to-mobile .hamburger
		position: absolute
		top: 1.8rem
		right: 2rem
	.header-lang
		padding: 1.7rem 2rem
	body.menu-mobile__opened
		.header .transform-to-mobile
			position: fixed
			top: 0
			left: 0
			width: 100%
			height: 100vh
			padding: 8.5rem 3rem 0
			background-color: rgba(0,0,0,0.75)
			z-index: 999
			overflow: scroll
		.header-menu
			position: relative
			top: auto
			right: auto
			background-color: transparent
			width: 100%
			height: auto
			z-index: 1
			overflow: hidden
			display: block
			padding: 0
		.header-btn
			filter: blur(0px)
			display: block
			text-align: center
			margin: 1rem auto 0
	
@media screen and (min-width: 640px) and (max-width: 767px)
	.footer
		ul>li
			padding-left: 2.3rem
			padding-right: 2.1rem
		.content__three
			width: auto
		.ic:nth-child(2)
			margin: 0 1.5rem




/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
	.footer
		border-top-width: 1.3rem
		padding: 3rem 0
		.container
			padding: 0
		.content__two
			margin-bottom: 1rem
		li
			a
				font-size: 1.8rem
				line-height: 2.4rem
				padding: .6rem 2.1rem
				padding-left: 2.7rem
		.footer__logo
			margin-bottom: 3.7rem
		.ic-socials__title
			font-size: 1.8rem
			line-height: 2.4rem

/* Custom, iPhone Retina */
@media only screen and (max-width : 350px)
	html
		font-size: 9px
	body.menu-mobile__opened .header .transform-to-mobile
		padding: 8.5rem 2rem 0
	.footer
		text-align: center
		.content__one
			margin-bottom: 3rem
		li a
			font-size: 2rem
			line-height: 2.6rem
		.content__two
			margin-bottom: 3rem
			&:before
				display: none






/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

