@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px)
	.header-lang
		position: relative
		top: auto
		transform: none
		right: auto
		margin-left: 1.5rem
	.header-logo
		margin-right: auto
	.header-btn
		margin-left: 3rem
	.header .transform-to-mobile
		flex: none
@media only screen and (max-width : 1200px)
	.container
		width: 970px
	html
		font-size: 9px
	.header-lang .dropdown-data
		left: auto
		right: 0
		transform: none
		&:after
			margin-left: 4px
			transform: translateY(-50%) translateX(-50%) rotate(-45deg)
	.header-menu .menu>li
		margin-right: 3rem
	.header-btn
		margin-left: 3rem
	.magazine .item-image img
		max-width: 110%
	.header-menu .nav-menu>li
		margin-right: 4rem
	.inner .main__wrapper p
		font-size: 1.8rem
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.container
		width: 100%
		padding: 0 20px
	.h1
		font-size: 4.2rem
		line-height: 4.8rem
	.header
		height: 8.5rem
	.header-menu, .header-lang
		display: none
	.header .transform-to-mobile .hamburger
		display: block
		margin-left: 2.5rem
	.header-lang
		display: block
		position: fixed
		top: 0
		left: 0
		z-index: 999
		padding: 2.5rem 2rem
		display: none
		margin-left: 0
		.dropdown-data:after
			left: 0
			margin-left: 0
			transform: translateY(-50%) translateX(100%) rotate(-45deg)
	body.menu-mobile__opened .header-lang
		font-size: 2.2rem
	.header-menu .nav-menu>li
		margin-right: 0
	.header
		.nav-menu>li .dropdown-data
			position: relative
			height: 0
			padding: 0
			margin: 0 auto
			left: 0
			top: 0
			background-color: transparent
			transition: padding-top .5s ease, opacity .5s ease, transform .5s ease
			transform: translateY(30px)
			font-family: $serif
			padding-bottom: 6rem
			box-shadow: none
			&:before, &:after
				display: none
			& > *
				height: 0
				+mt(.25s)
			li
				opacity: 0
				transition: opacity .5s ease
				&:last-child
					position: relative
					&:after
						content: '...'
						position: absolute
						bottom: -40px
						left: 0
						width: 100%
						text-align: center
						color: #fff
						font-size: 3.5rem
						display: block
						transform: none
		.dropdown._opened
			.dropdown-link
				margin-right: 0
				font-weight: bold
			.dropdown-data
				width: 100%
				height: auto
				background-color: transparent
				padding-top: 0
				margin-top: 0
				transform: translateY(0)
				& > *
					height: auto
				li
					opacity: 1
					a
						color: #fff
	.header-menu
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: 100vh
		padding: 8.5rem 3.5rem 0
		background-color: #fff
		background-color: rgba(0,0,0,0.75)
		z-index: 999
		overflow: scroll
		.nav-menu
			li
				display: block
				width: 100%
				text-align: center
				font-size: 2.8rem
				line-height: 5rem
				a.active
					&:before
						right: -15px
						left: auto
						margin-bottom: -7px
						bottom: 50%
						+transY
	.transform-to-mobile.sub-opened .nav-menu
		& > li
			display: none
		& > li.dropdown._opened
			display: block
	.header-mobile
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		margin-left: 2.5rem
	.header .transform-to-mobile .hamburger
		z-index: 999
		position: relative
	body
		&.menu-mobile__opened
			position: relative
			.page__footer, .header-btn, .header-logo, .header:after
				filter: blur(2px)
			.header-menu
				display: block
			.header-lang
				position: absolute
				display: block
	// footer
	.footer
		padding: 4.5rem 0
		&__logo
			display: inline-block
			margin-right: 0
			margin-bottom: 3.5rem
		&__content
			.item
				flex: 1
				&:last-child
					padding-right: 0
		.share__content .ic
			margin-right: 1rem
	.footer__content
		margin-left: auto
	

	// INNER
	.magazine .item-image, .magazine .item_reverse .item-image
		flex: none
		width: 100%
	.magazine .item .h2
		margin-bottom: 2rem
		br
			display: none
	.magazine .item-image img, .magazine .item_reverse .item-image img
		position: relative
		max-width: 100%
		left: auto
		right: auto
	.magazine .item-info, .magazine .item_reverse .item-info
		order: 3
		width: 100%
		margin-top: 3rem
	.advantages .item-icons
		width: 5.5rem
		height: 5.5rem
	.landing-page .magazine .blank-self:first-child
		margin-top: 7rem
	.blank-self
		margin-bottom: 7rem
		padding: 5rem
	.magazine .item .btn-wrapper
		margin-top: 4rem
/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.container
		width: 100%
	// footer
	.footer .container
		display: block
	.footer__logo
		display: block
		width: 100%
		text-align: center
	.advantages .item-icons
		width: 5.5rem
		height: 5.5rem
	.h1
		font-size: 4rem;
		line-height: 4.6rem;
	.h2
		font-size: 2.8rem
		line-height: 3.8rem
	.blank-self
		padding: 5rem 3.5rem
	.advantages
		padding-bottom: 3.5rem
	.advantages .item-title
		font-size: 16px
		line-height: 22px

@media only screen and (max-width : 639px)
	html
		font-size: 10px
	.h1
		font-size: 3.6rem
		line-height: 4.2rem
	.h2
		font-size: 2.6rem
		line-height: 3.2rem
	.header-btn
		display: none
	body.menu-mobile__opened .header-lang
		font-size: 2rem
	.header-logo
		position: absolute
		left: 50%
		transform: translateX(-50%)
		.logo
			height: 4rem
	.header .container
		justify-content: flex-end
	.header .hamburger
		margin-left: auto
		z-index: 1000
		position: relative
	.header
		height: 6rem
	.header .transform-to-mobile
		align-items: flex-start
		align-content: flex-start
	.transform-to-mobile.sub-opened .header-btn
		display: none
	.header .transform-to-mobile .hamburger
		position: absolute
		top: 1.8rem
		right: 2rem
	.header-lang
		padding: 1.7rem 2rem
	body.menu-mobile__opened
		.header .transform-to-mobile
			position: fixed
			top: 0
			left: 0
			width: 100%
			height: 100vh
			padding: 8.5rem 3rem 0
			background-color: rgba(0,0,0,0.75)
			z-index: 999
			overflow: scroll
		.header-menu
			position: relative
			top: auto
			right: auto
			background-color: transparent
			width: 100%
			height: auto
			z-index: 1
			overflow: hidden
			display: block
			padding: 0
		.header-btn
			filter: blur(0px)
			display: block
			text-align: center
			margin: 1rem auto 0
	

	// FOOTER
	.footer__content .item
		flex: none
		width: auto
		margin: 0 auto 1rem
		&:first-child
			padding-left: 5px
		&:nth-child(2)
			padding-right: 0
		&:last-child
			width: 100%
			padding: 0 2.5rem
			text-align: center
			margin-top: 0
	.footer__content
		flex-wrap: wrap
	.footer__logo
		margin-bottom: 3rem

	// INNER
	.advantages .item-icons
		width: 4.5rem
		height: 4.5rem
	.tape-top
		border-top-width: 1.8rem
	.landing-page .magazine .blank-self:first-child
		margin-top: 5.5rem
	.blank-self
		margin-bottom: 5.5rem
		padding: 3rem
	.footer
		padding-bottom: 1.5rem
	.magazine
		padding-bottom: 2rem
@media only screen and (max-width : 539px)
	.h1
		font-size: 3.2rem;
		line-height: 3.8rem;
	.main .content__header .title
		margin-bottom: 2rem
	.advantages
		padding-top: 3rem
		padding-bottom: 1.5rem
	.advantages .item
		flex: none
		width: 100%
		padding: 3.2rem 0
		&:first-child
			padding-top: 0
	.advantages .item:after
		width: calc(100% - 50px)
		height: 1px
		left: 50%
		+transX
		top: auto
		bottom: 0
		right: auto
	.advantages .item-icons
		width: 6.4rem
		height: 6.4rem
	.advantages .item-title
		font-size: 2rem
		line-height: 2.7rem
	.h2
		font-size: 2.4rem
		line-height: 2.8rem
	.magazine .item-info, .magazine .item_reverse .item-info
		order: 3
		margin-top: 3rem
	.magazine .item .h2, .magazine .item_reverse .h2
		order: 2
		margin-bottom: 0
		margin-top: 3.5rem
	.magazine .item-image, .magazine .item_reverse .item-image
		order: 1
		margin-left: -3rem;
		width: calc(100% + 6rem);
	.inner .main__wrapper p
		font-size: 1.6rem
		line-height: 2.4rem
	.footer
		font-size: 18px
		line-height: 24px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
	.tape-top
		border-top-width: 1.3rem;
	.footer
		border-top-width: 1.3rem
		padding: 3rem 0
		li
			a
				font-size: 1.8rem
				line-height: 2.4rem
				padding: .6rem 2.1rem
				padding-left: 2.7rem
		.footer__logo
			margin-bottom: 3.7rem
		.ic-socials__title
			font-size: 1.8rem
			line-height: 2.4rem
	.footer__content .item
		padding: 0 2.5rem
	.h1
		font-size: 2.8rem
		line-height: 3.7rem
	.h2
		font-size: 2rem
		line-height: 2.7rem
	.main .content__header .sub-title p br
		display: none
	.footer__content .item:first-child
		padding-left: 0
	.landing-page .magazine .blank-self:first-child
		margin-top: 3.5rem
	.main .content__header .sub-title
		margin-bottom: 4.5rem
/* Custom, iPhone Retina */
@media only screen and (max-width : 374px)
	.footer
		&__content
			flex-wrap: wrap
		.item
			width: 100%
			flex: none
			text-align: center
			padding: 0
			margin-bottom: 3rem
		.item:nth-child(2)
			border: none
			padding-left: 0
		.item:last-child
			margin-bottom: 0
			margin-top: 2rem
			padding: 0 2.5rem
			.share
				width: 100%
				padding: 0
				text-align: center
		.nav-menu>li .dropdown-data
			position: relative
			height: 0
			padding: 0
			margin: 0 auto
			left: 0
			top: 0
			background-color: transparent
			transition: padding-top .5s ease, opacity .5s ease, transform .5s ease
			transform: translateY(30px)
			box-shadow: none
			font-family: $serif
			&:before, &:after
				display: none
			& > *
				height: 0
				+mt(.25s)
			li
				opacity: 0
				transition: opacity .5s ease
				font-size: 2rem
				line-height: 2.7rem
				position: relative
				&:last-child
					&:after
						content: '...'
						position: absolute
						bottom: -30px
						left: 0
						width: 100%
						text-align: center
						color: #fff
						font-size: 3.5rem
						display: block
						transform: none
			&:after
				content: '...'
				color: #fff
				font-size: 2rem
		.dropdown._opened
			.dropdown-link
				margin-right: 0
				font-weight: bold
			.dropdown-data
				width: 100%
				height: auto
				background-color: transparent
				padding-top: 0
				margin-top: 0
				transform: translateY(0)
				padding-bottom: 2rem
				& > *
					height: auto
				li
					opacity: 1
					a
						color: #fff
@media only screen and (max-width : 350px)
	html
		font-size: 9px
	body.menu-mobile__opened .header .transform-to-mobile
		padding: 8.5rem 2rem 0
	.footer
		text-align: center
		.content__one
			margin-bottom: 3rem
		li a
			font-size: 2rem
			line-height: 2.6rem
		.content__two
			margin-bottom: 3rem
			&:before
				display: none
	





/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

