$sans: 'PT Sans', sans-serif
$serif: 'PT Serif', serif
$nunito: 'Nunito Sans', sans-serif



// COLORS


// DEFAULT COLOR
$main: #464950

$colorAccentOne: #D2A884
$bgAccentOne: #D2A884


$colorAccentSecond: #1B2C58
$bgAccentSecond: #1B2C58
$bgAccentSecondDark: #2F4171





=mt($name)
	transition: $name .25s ease

=placeholder-color($color)
	&:-moz-placeholder,
	&::-moz-placeholder
		color: $color
		opacity: 1
	&::-webkit-input-placeholder
		color: $color

=transY
	transform: translateY(-50%)
=transX
	transform: translateX(-50%)