@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666
html
	font-size: 10px

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	font-size: 2rem
	line-height: 2.7rem
	font-family: $serif
	overflow-x: hidden
	color: $main

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center


.container
	width: 1160px
	margin: 0 auto

// ELEMENTS
ul
	margin: 0
	padding: 0
	list-style-type: none
h1,h2,h3,h4,h4
	margin: 0
	font-weight: normal
*
	outline: none !important
a, a:hover, a:focus
	text-decoration: none
img
	max-width: 100%
	height: auto
input, textarea, button
	transition: border-color .25s ease,background-color .25s ease, color .25s ease
	outline: none
svg path
	transition: all .25s ease
a, span	
	transition: color .25s ease
img
	max-width: 100%
	height: auto
.btn-wrapper
	display: block
	width: 100%
	text-align: center
.ic
	display: inline-block
	vertical-align: middle
	background-repeat: no-repeat
	background-position: center
	background-size: contain

.logout
	color: $accentOne
	padding-left: 25px
	font-size: 1.7rem
	line-height: 4rem
	background-image: url('../img/ic-logout.png')
	&:hover
		color: $accentSecond

.btn
	display: inline-block
	padding: 1.1rem 2.5rem
	border-radius: 4px
	color: #fff
	text-align: center
	border: 1px solid transparent
	transition: background-color .25s ease, color .25s ease, border-color .25s ease
	&-border
		border: 1px solid #D2A884
		background-color: rgba(255,255,255,0.06)
		&:hover
			background-color: rgba(255,255,255,0.1)
	&-accent
		background-color: $accentOne
		color: #fff
		&:focus
			background-color: $accentOneDark
	&:hover, &:focus
		color: #fff


.logo
	display: inline-block
	width: 17.2rem
	height: 5.2rem
	border: 1px solid green

.dropdown
	position: relative
	&-link
		position: relative
		padding-right: 15px
		&:after
			content: ''
			position: absolute
			top: 50%
			right: 0
			display: inline-block
			width: 7px
			height: 7px
			border: 2px solid #fff
			border-width: 0 0 2px 2px
			transform: rotate(-45deg) translateY(-50%)
	&-data
		position: absolute
		opacity: 0
		visibility: hidden
		top: 100%
		left: 50%
		width: 20rem
		margin-top: 1.5rem
		background-color: #fff
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14)
		transform: translateX(-50%)
		font-family: $sans
		padding: 3rem
		padding-top: 2rem
		border-radius: 4px
		transition: opacity .25s ease
		z-index: 100
		&:after
			content: ''
			position: absolute
			top: 0
			left: 50%
			transform: translateY(-50%) translateX(-50%) rotate(-45deg)
			background-color: #fff
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14)
			width: 1rem
			height: 1rem
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 1rem
			background-color: #fff
			border-radius: 4px 4px 0 0
			z-index: 1
		li
			display: inline-block
			width: 100%
			font-size: 1.7rem
			line-height: 2rem
			margin-top: .9rem
			margin-bottom: .9rem
			a
				color: $main !important
				&:hover
					color: $accentOne
		hr
			display: block
			width: 100%
			height: 1px
			background-color: #BAC1D0
			margin: 5px 0

	&._opened
		.dropdown-link
			&:after
				margin-top: 4px
				border-width: 2px 2px 0 0
		.dropdown-data
			opacity: 1
			visibility: visible
	&-up
		.dropdown-data
			top: auto
			bottom: 100%
			margin-top: 0
			margin-bottom: 1rem
			padding-top: 3rem
			padding-bottom: 2rem
			box-shadow: 0 -1px 15px 0 rgba(0,0,0,.14)
			&:before
				top: auto
				bottom: 0
				border-radius: 0 0 4px 4px
			&:after
				top: auto
				bottom: 0
				transform: translateY(50%) translateX(-50%) rotate(-45deg);

.nav-menu
	> li
		display: inline-block
		position: relative
		> a
			color: #fff
			position: relative
			&.active
				font-weight: bold
				&:before
					content: ''
					position: absolute
					height: .6rem
					width: .6rem
					border-radius: 25px
					background-color: #D2A884
					display: block


// HEADER
.header
	height: 10rem
	position: relative
	&:after
		content: ""
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		background-color: $accentSecond
		z-index: -1
	.container
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		height: 100%
		position: relative
	.transform-to-mobile
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-wrap: wrap
		flex: 2
		align-items: center
		.hamburger
			display: none
	&-logo
		margin-right: 21rem
	&-menu
		.nav-menu
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			flex-wrap: wrap
			> li
				display: inline-block
				margin-right: 4.8rem
				position: relative
				&:last-child
					margin-right: 0
				> a
					color: #fff
					position: relative
					&.active
						font-weight: bold
						&:before
							content: ''
							position: absolute
							bottom: -.9rem
							left: 50%
							height: .6rem
							width: .6rem
							border-radius: 25px
							background-color: #D2A884
							display: block

				.dropdown
					&-data
						width: 22rem
	&-btn
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: flex-start
		flex-wrap: wrap
		margin-left: auto
		.btn-accent
			min-width: 15rem
		.btn-border
			margin-right: 1rem
	&-lang
		position: absolute
		top: 50%
		transform: translateY(-50%)
		right: -7.5rem
		.dropdown
			&-link
				color: #fff
			&-data
				width: 7rem
				padding: 1.4rem 2.5rem
	&-mobile
		display: none





.page__content
	min-height: 50vh



// footer
.footer
	background-color: $accentSecond
	font-family: $serif
	padding: 5.3rem 0
	border-top: 20px solid #D2A884
	.container
		display: flex
	&__logo
		margin-right: 12.6rem
	.content
		display: flex
		&__two
			position: relative
			display: flex
			&:after
				position: relative
				content: ''
				//height: 190px
				width: 1px
				background-color: #2F4171

			&:before
				position: relative
				content: ''
				//height: 190px
				margin-top: -.4rem
				margin-bottom: -.4rem
				width: 1px
				background-color: #2F4171

	.nav-menu
		li
			display: block
			width: 100%
	ul > li
		padding: 0 3.5rem
		> a
			padding: .6rem 0
			color: #FFFFFF
			display: inline-block
			white-space: nowrap
			&:hover
				color: $accentOne
			&:focus
				color: #FFFFFF
			&.active
				padding-right: 15px
				&:before
					top: 48%
					right: 0
	.dropdown-link
		padding-right: 15px
	.dropdown-data
		li
			padding: 0
			a
				padding: 0
.ic-socials
	padding: .6rem 3.5rem
	color: #FFFFFF
	white-space: nowrap
	// overflow: hidden
	font-size: 2rem
	line-height: 2.7rem
	display: inline-block
	&__content
		margin-top: 1.5rem




.ic
	background: rebeccapurple
	display: inline-block
	text-align: center
	border-radius: 50%
	margin: 0 1.3rem
	&:first-child
		margin-left: 0
	&:nth-child(3)
		margin-right: 0
	&-fb
		height: 41.89px
		width: 41.89px
	&-gplus
		height: 41.89px
		width: 41.89px
	&-vk
		height: 41.89px
		width: 41.89px
	&-unicash
		height: 41.89px
		width: 115px

	&-unicash-wr
		margin-top: 1.4rem
		display: flex
		a
			margin-right: 0
		//justify-content: center








.hamburger-box, .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
	width: 32px
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
	background-color: #fff
	height: 3px
.hamburger
	padding: 0
	height: 24px
	&:hover
		opacity: 1
@import "media" // Всегда в конце
